
bert-base-chinese/pytorch_model.bin
bert-base-chinese/flax_model.msgpack
bert-base-chinese/model.safetensors
bert-base-chinese/tf_model.h5
Model_Parameter/test.pth
*.pth
*.msgpack
*.safetensors
Named_Entity_Recognition/prev_trained_model/bert-base-chinese/pytorch_model.bin
*.h5
*.zip
*.bin
*.pyc
